$break-small: 425px;
$break-medium: 1024px;
$break-large: 1200px;


$red:         #f38181;
$tamnoPlava:  #374249;
$textColor:   #797979;
$headerColor: #374249;
$lightGray-1: #cfd1d3;
$lightGray-2: #f3f7f9;

$colWidth:    80vw;